.centeredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileButton {
  background-color: #def0f9;
  color: white;
  padding: 12px 20px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;

  &:hover {
    background-color: #aac4ce;
  }
}
