@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  background-color: #def0f9;
  color: black;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}

.navHeader .loginButton:hover,
.registerButton:hover {
  background-color: #ddd;
  color: black;
}

nav {
  // border-style: solid;
  // border-color: red;
  // height: 5rem;
  // background: #def0f9;
  // display: flex;

  // overflow: hidden;
}

ul {
  display: flex;
  align-content: flex-start;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

li {
  // display: inline;
  // float: right;
  display: flex;
  gap: 50px;
  padding-right: 60px;
}

> main image {
  box-sizing: content-box;
  display: flex;
  margin: 20px;
  opacity: 10;
}
.registerButton {
  background-color: rgb(216, 216, 216);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.loginButton {
  background-color: rgb(216, 216, 216);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
a {
  text-decoration: none;
}

.aboutText {
  padding: 50px 150px;
}
.imageWrapper {
  width: 100%;
  margin-top: 50px;
}
.image {
  width: 100%;
  object-fit: cover;
}

h2 {
  text-align: center;
}

.blogButton {
  background-color: rgb(198, 198, 198);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
