*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  border-style: solid;
  border-color: orange;
  background-color: #deedf2;
  margin: 0;
  padding: 0;
}

nav {
  border-style: solid;
  border-color: green;
  width: auto;
  height: auto;
  background: #deedf2;
  display: flex;
  justify-content: baseline;
  align-items: justify;
  padding: 10px 0;
}

h1 {
  border-style: solid;
  border-color: red;
  width: 300px;
  margin: auto;
}
h2 {
  border-style: solid;
  border-color: blue;
  width: 500px;
  margin: auto;
}
ul {
  display: flex;
  justify-content: right;
  width: 100%;
  align-items: center;
  list-style-type: none;
}

p {
  margin: 30px;
  border-style: solid;
  border-color: black;
  font-size: 16px;
}
